body {
    font-family: 'Open Sans', sans-serif;
}
.site-name {
    font-family: 'Raleway', sans-serif;
}
html,
body {
    height: 100%;
}
body {
    font-size: 15px;
    line-height: 1.50;
    color: #333333;
       background-color: rgb(194, 192, 192);
    position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
}
h1 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
}
h2 {
    font-size: 28px;
    margin-bottom: 15px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 18px;
    font-weight: 700;
}
h5 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}
h6 {
    font-weight: 700;
}
h1 span,
h2 span,
h3 span,
h4 span {
    color: #339BEB;
}
.text-colored {
    color: #55acee;
}
a {
    color: #55acee;
}
a:hover {
    color: #339BEB;
}
a:focus,
a:active {
    outline: none;
}
.large {
    font-size: 18px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.list-unstyled li {
    padding: 5px 0;
}
.list-horizontal {
    padding: 15px 0;
}
.list-horizontal-item img {
    display: block;
    margin: 0 auto;
}
.list-icons {
    padding: 0;
    margin: 20px 0;
    list-style: none;
    font-size: 18px;
}
.list-icons li {
    padding: 0 0 15px 0;
    font-weight: 600;
}
blockquote {
    border-left: none;
    padding-left: 0;
    padding-right: 0;
}
.title {
    margin-top: 0;
}

/* Layout
----------------------------------------------------------------------------- */
.header {
    color: #2771aa;
    background-color: rgb(187, 187, 187);
    padding: 0px;
	/*****-webkit-box-shadow: 0px 4px 14px 0px rgba(50, 50, 50, 0.94);
-moz-box-shadow:    0px 4px 14px 0px rgba(50, 50, 50, 0.94);
box-shadow:         0px 4px 14px 0px rgba(50, 50, 50, 0.94);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;********/
}
.banner {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    color: #fff;
}
.banner2 {
	background-color: #999;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;

    background-image: url(../images/sd3.png);
        color: #fcf8e3;
    /* background-image: url(../images/bg2.jpg);
    color: #ffffff;*/
    background-size: cover;
    background-repeat: no-repeat;


}



.banner3 {
    width: 100%;
    height: 130%;
    min-height: 120%;
    position: relative;

    font-weight: 800;
    background-image: url(../images/440.jpg);
    color: #333333;
    /* background-image: url(../images/bg2.jpg);
    color: #ffffff;*/
    background-size: cover;
    background-repeat: no-repeat;

}


.banner-image {
    vertical-align: middle;
    min-height: 100%;
    width: 100%;
}
.banner:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*****background-color: rgba(0, 0, 0, 0.55);***/
    content: "";
}
.banner2:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.55);

}
.banner3:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;


}
.banner-caption {
       position: absolute;
	   /*background-image: url(../images/sd3.png);*/
	   background-size: cover;
       width: 100%;
   	   z-index: 2;

}
.subfooter {
    /*background-color: rgba(207, 198, 198, 0.39);**-- */

    padding: 40px 0;
}
.section {
   /* background-color: rgba(207, 198, 198, 0.39);-- */
    padding: 80px 0;
}

/* Backgrounds
----------------------------------------------------------------------------- */
.default-bg {
    background-color: #222222;
    color: #ffffff;
}
.default-bg.blue {
    background-color: #55acee;
}
.translucent-bg {
    color: #ffffff;
}
.default-bg h1,
.default-bg h2,
.default-bg h3,
.default-bg h4,
.default-bg h5,
.default-bg h6,
.translucent-bg h1,
.translucent-bg h2,
.translucent-bg h3,
.translucent-bg h4,
.translucent-bg h5,
.translucent-bg h6 {
    color: #ffffff;
}
.default-bg blockquote footer,
.translucent-bg blockquote footer {
    color: #cccccc;
}
.default-bg a,
.translucent-bg a {
    color: #ffffff;
    text-decoration: underline;
}
.default-bg a:hover,
.translucent-bg a:hover {
    text-decoration: none;
}
.translucent-bg {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: 50% 0;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}
.translucent-bg .translucent-bg {
    margin-top: 80px;
    z-index: 3;
}
.translucent-bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.translucent-bg.blue:after {
    background-color: rgba(85, 172, 238, 0.7);
}
.translucent-bg .container {
    z-index: 3;
    position: relative;
}
.bg-image-1 {
    background: url("../images/bg.gif") 50% 0px no-repeat;
}

/* Misc
----------------------------------------------------------------------------- */
.object-non-visible {
    opacity: 0;
    filter: alpha(opacity=0);
}
.object-visible,
.touch .object-non-visible {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

/* Targeting only Firefox for smoothest animations */
@-moz-document url-prefix() {
    .object-visible,
    .touch .object-non-visible {
        -webkit-transition: opacity 0.6s ease-in-out;
        -moz-transition: opacity 0.6s ease-in-out;
        -o-transition: opacity 0.6s ease-in-out;
        -ms-transition: opacity 0.6s ease-in-out;
        transition: opacity 0.6s ease-in-out;
    }
}
.space {
    padding: 20px 0;
}
.pr-10 {
    padding-right: 10px;
}
.pl-10 {
    padding-left: 10px;
}
.pb-clear {
    padding-bottom: 0;
}

/* Sections
----------------------------------------------------------------------------- */
.banner-caption h1,
.banner-caption h2,
.banner-caption h3,
.banner-caption h4,
.banner-caption h5,
.banner-caption h6 {
    color: #ffd80d;
}
.banner-caption h1 {
    font-size: 40px;
}
.subfooter p {
    margin-bottom: 0;
}

/* Template Components
----------------------------------------------------------------------------- */
/* Buttons
---------------------------------- */
.btn {
    padding: 8px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    min-width: 160px;
    text-align: center;
    border-radius: 0;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.btn-default {
    color: #55acee;
    border: 1px solid #cccccc;
}
.btn-default:hover {
    color: #ffffff;
    background-color: #339BEB;
    border-color: #339BEB;
}

/* Collapse
---------------------------------- */
.panel-group .panel {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: none;
}
.panel-default > .panel-heading {
    padding: 0;
    outline: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    width: 100%;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: 1px solid #f0f0f0;
    border-top: none;
    background-color: #fafafa
}
.panel-heading a {
    font-weight: 400;
    padding: 12px 35px 12px 15px;
    display: inline-block;
    width: 100%;
    background-color: #55acee;
    color: #ffffff;
    position: relative;
    text-decoration: none;
}
.panel-heading a.collapsed {
    color: #ffffff;
    background-color: #333333;
}
.panel-heading a:after {
    font-family: "FontAwesome";
    content: "\f147";
    position: absolute;
    right: 15px;
    font-size: 14px;
    font-weight: 300;
    top: 50%;
    line-height: 1;
    margin-top: -7px;
}
.panel-heading a.collapsed:after {
    content: "\f196";
}
.panel-heading a:hover {
    text-decoration: none;
    background-color: #55acee;
    color: #ffffff;
}
.panel-title a i {
    padding-right: 10px;
    font-size: 20px;
}

/* Pills
---------------------------------- */
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills > li > a:hover {
    background-color: #55acee;
    border-color: #55acee;
    color: #ffffff;
}
.nav-pills > li > a {
    border-radius: 0;
    padding: 8px 20px;
    border: 1px solid #cacaca;
    color: #666666;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}

/* Forms
---------------------------------- */
.form-control {
    height: 45px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.form-control-feedback {
    color: #cccccc;
}
.has-feedback label.sr-only ~ .form-control-feedback {
    top: 15px;
}
textarea {
    resize: vertical;
}

/* Modals
---------------------------------- */
.modal-content {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.modal-header {
    background-color: #55acee;
    color: #ffffff;
}
.modal-header h4 {
    color: #ffffff;
}
.modal-header .close {
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: none;
    filter: alpha(opacity=100);
    opacity: 1;
}

/* Large devices (Large desktops 1200px and up) */
@media (min-width:1200px) {
    .modal-lg {
        width: 1140px;
    }
}

/* Media
---------------------------------- */
.media .fa {
    font-size: 24px;
    width: 40px;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    text-align: center;
}

/* Navigations
----------------------------------------------------------------------------- */
.header .navbar {
    margin-bottom: 0;
}
.main-navigation .navbar-default {
    background-color: transparent;
    border: none;

}
.main-navigation .navbar-default .navbar-nav > li > a {
    color: #333333;

    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: #bbbbbb;
}
.main-navigation .navbar-default .navbar-nav > li.active > a {
    background-color: transparent;
    color: #55acee;
    font-weight: 600;

    background-color: rgb(187, 187, 187);
}
.main-navigation .navbar-default .navbar-nav > li > a:hover,
.main-navigation .navbar-default .navbar-nav > li.active > a:hover {
    color: #55acee;
}
@media (min-width:768px) {
    .main-navigation .navbar-default .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 30px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .main-navigation .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-nav {
        float: left !important;
    }
}
@media (max-width:767px) {
    .header.navbar-fixed-top {
        position: absolute;
	    height: 80px;
    }
}

/* Fixed Header
----------------------------------------------------------------------------- */
.fixed-header-on .header {
  /*  background-color: rgba(255, 255, 255, 1);
    padding: 5px 0;*/
}
.fixed-header-on .site-name {
    font-size: 24px;
}
.fixed-header-on .logo {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    margin-top: 0;
    margin-bottom: 0;
}
@media (min-width:768px) {
    .fixed-header-on .navbar-default .navbar-nav > li > a {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (max-width:991px) {
    .fixed-header-on .logo,
    .fixed-header-on .site-name,
    .fixed-header-on .site-slogan {
        display: none;
    }
}

/* Blocks/Widgets
----------------------------------------------------------------------------- */
/* Logo, Site Name, Site Slogan
---------------------------------- */
.logo {
    margin: 10px 10px 10px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.logo,
.site-name-and-slogan {
    float: left;
}
.site-name {
    font-size: 36px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.site-name a {
    color: #ffffff;
}
.site-name a:hover {
    text-decoration: none;
}
.site-slogan {
    font-size: 12px;
    :
}

/* Testimonials
---------------------------------- */
.testimonial .media-left {
    width: 60px;
}

/* Social Links
---------------------------------- */
.social-links {
    /*padding: 0;*/
    list-style: none;
    margin: 15px;
	left: -12px;
    position: relative;
}
.social-links li {
    /*margin: 10px 25px 10px 0;*/
    display: inline-block;
    font-size: 36px;
	 display:-moz-inline-stack;/*Firefox 2*/
  display:inline-block; /*Хорошие браузеры*/
  _overflow:hidden;/*IE6, IE7*/
  *zoom:1;/*включаем hasLayout для IE6, IE7*/
  *display:inline;/*при hasLayout true display:inline в IE6, IE7 ведёт себя как display:inline-block*/

}
.social-links li a {
    color: #333333;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.social-links li a img:hover {
   opacity: 0.5;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.social-links li.twitter a:hover {
    color: #55acee;
}
.social-links li.skype a:hover {
    color: #00aff0;
}
.social-links li.linkedin a:hover {
    color: #0976b4;
}
.social-links li.googleplus a:hover {
    color: #dd4b39;
}
.social-links li.youtube a:hover {
    color: #b31217;
}
.social-links li.flickr a:hover {
    color: #ff0084;
}
.social-links li.facebook a:hover {
    color: #3b5998;
}
.social-links li.pinterest a:hover {
    color: #cb2027;
}

/* Isotope Items
---------------------------------- */
.filters {
    margin: 0 0 30px 0;
}
.filters .nav-pills > li {
    margin-right: 2px;
    margin-bottom: 2px;
}
.filters .nav-pills > li + li {
    margin-left: 0px;
}
.text-center.filters .nav-pills > li {
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
    display: inline-block;
    float: none;
}
.isotope-container {
    overflow: hidden;
}
.isotope-item {
    margin-bottom: 20px;
}
.isotope-item .btn-default {
    color: #999999;
}
.isotope-item .btn-default:hover {
    color: #ffffff;
}
@media (max-width:480px) {
    .filters .nav-pills > li {
        width: 100%;
        display: block;
    }
}

/* Images Overlay
----------------------------------------------------------------------------- */
.overlay-container {
    position: relative;
    display: block;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    right: -1px;
    background-color: rgba(85, 172, 238, 0.9);
    cursor: pointer;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
}
.overlay:hover {
    text-decoration: none;
}
.overlay span {
    position: absolute;
    display: block;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 13px;
    font-weight: 300;
}
.overlay i {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 18px;
    line-height: 1x;
    color: #ffffff;
    margin-top: -8px;
    margin-left: -8px;
    text-align: center;
}
.overlay-container:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    transform: scale(1);
}


/*************Bіталік *********************/
.manbloc{
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 45%;

}
#wrimg{
    max-height: 670px;
}

@media (max-width:768px) {
    .manbloc{
        overflow: hidden;
        position: fixed;
        bottom: 0;
        left: 0%;


    }
    #wrimg{
        max-height: 720px;
    }
   #wrimg2 {
    max-height: 180px;
    padding: 30px 0px 0px;
}
}

.banner2{
   background-position: 50% 20%;
}

@media (max-width:768px) {
#footer div {
    padding: 1px;
    background: #666;
    height: 15px;
    font-size: 10px;

}

    .banner2{
	    top: 60px;
        padding: 5% 0%;
	    height: 900px;




	    background-image: url(../images/sd3.png);
        color: #fcf8e3;
    /* background-image: url(../images/bg2.jpg);
    color: #ffffff;*/
    background-size: cover;
    background-repeat: no-repeat;
    }

}




.price {
    width: 100%;
    height: 30px;
    text-align: center;
    display: block;
    text-align: center;
    background: #fff;
    font-size: 17px;
    font-weight: 800;
}

.popup_layer {
    display: block;
    position: fixed;
    top: -10000px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    z-index: 9999;

    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.popup_close {
    position: fixed;
    top: -50px;
    right: 15px;
    color: white;
    z-index: 10000;
    font-size: 25px;
    margin-top: 5px;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
.popup_window {
    position: fixed;
    top: -200%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10002;
    margin-top: 50px;

    background: #3d3d3d;
    background: #ffffff;
    width: 80%;
    max-width: 500px;
    opacity: 1 !important;
    -webkit-transition: opacity,top .3s ease;
    -moz-transition: opacity,top .3s ease;
    -o-transition: opacity,top .3s ease;
    transition: opacity,top .3s ease;

    color: white;
    padding: 10px 20px;
    border: 1px solid #353535;

-webkit-box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.75);
box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.75);

}

.popup_window_video {
    position: fixed;
    left: 0%;
    right: 0%;
    z-index: 10002;
    margin: 50px 0px 0px;
    width: 100%;
    text-align: center;

    opacity: 1 !important;
    -webkit-transition: opacity,top .3s ease;
    -moz-transition: opacity,top .3s ease;
    -o-transition: opacity,top .3s ease;
    transition: opacity,top .3s ease;


    padding: 0px;

}

.popup_show {
    top: 0px;
    opacity: 0.6;
}
.popup_window input {
    margin: 10px auto;
}

.popup_window div {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 16px;
    margin: 10px 0px 5px;
}
.popup_window span {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    font-size: 18px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}
#carttitle {
    margin: 0px;
}
#cartprice {
    font-size: 20px;
    margin: 0px;
}
#res_cart {
    text-align: center;
    color: green;
}


#footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    color: #000; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}
#footer div {
    padding: 1px;
    /* background: #666; */
    height: 20px;
    font-size: 10px;

}
#color{
	 color: #fff;
}