<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ukrman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="img/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&amp;subset=cyrillic,cyrillic-ext"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/owl.carousel/dist/assets/owl.carousel.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="node_modules/lightgallery/dist/css/lightgallery.min.css"/>
    <link href="style/reset.min.css" rel="stylesheet">
    <link href="style/style.css" rel="stylesheet">
</head>
<body>
<div class="ios-close">
    <section class="header">
        <div class="container">
            <a href="/"><img class="logo" src="img/logo-1.png"></a>
            <nav class="menu">
                <a href="/" class="menu__item">головна</a>
                <a href="#about" class="menu__item menu__item_about">про комікс</a>
                <a href="#video" class="menu__item menu__item_video">ролик</a>
                <a href="#contacts" class="menu__item menu__item_contacts">контакти</a>
            </nav>
            <a class="buy-btn buy-btn_menu">Замовити комікс  </a>
        </div>
    </section>

    <section class="main-page">
        <div class="container container_main-page">
            <div class="main-page__wrapper">
                <div class="main-page__container">
                    <img src="img/comics-first.jpg" class="main-page__book">
                </div>
                <div class="main-page__container main-page__container_text">
                    <div class="main-page__inner">
                        <h1 class="main-page__title">
                            УКРМЕН. ПОЧАТОК
                        </h1>
                        <h2 class="main-page__desc"> - це комікc про сучасних українських супергероїв та підступних
                            лиходіїв.
                            Неймовірні пригоди та
                            захопливі історії перенесуть вас у Всесвіт, в якому можливо все!
                        </h2>

                        <div class="price__container">
                            <div class="buy-btn__container">
                                <a class="buy-btn buy-btn_main-page comics-animation">замовити комікс</a>
                            </div>
                            <div class="price">
                                <p class="price__value">150 грн</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features">
            <div class="container container_features">
                <div class="features__container features__container_1">
                    <p class="feature__text">Написаний<br>українською мовою</p>
                </div>
                <div class="features__container features__container_2">
                    <p class="feature__text">М'яка<br> палітурка</p>
                </div>
                <div class="features__container features__container_3">
                    <p class="feature__text">64<br> кольорові сторінки</p>
                </div>
                <div class="features__container features__container_4">

                    <p class="feature__text">165х250мм<br> формат</p>
                </div>
                <div class="features__container features__container_5">
                    <p class="feature__text">Перший<br> колекційний випуск</p>
                </div>
            </div>
        </div>
    </section>

    <section class="divider divider-item-4">
        <div class="divider__bgd"></div>
        <div class="divider__tile"></div>
    </section>

    <section class="about-page" id="about">
        <div class="container container_about-page">
            <div class="about-page__container">
                <h3 class="page-title">Про комікс</h3>
                <p class="about-page__text">
                    Наш cвіт вже ніколи не буде таким, як раніше. Страшна трагедія назавжди змінила хід еволюції.
                    Відтепер у будь-яку мить надприродні здібності можуть відкритись у кожного з нас.
                </p>
                <p class="about-page__text">
                    Нещасний випадок перетворив талановитого науковця на злого генія і породив в його уяві страшний
                    план.
                    Прямо зараз один із його підконтрольних мутантів трощить Київ. Поліція і військові безсилі.
                </p>
                <p class="about-page__text">
                    Коли здається що надії на порятунок вже немає, коли протистояти означає загинути… Хто наважиться
                    вступити в бій?
                </p>
            </div>
            <div class="about-page__container ">
                <div class="a-gallery">
                    <div class="carousel__controls">
                    </div>
                    <div class="carousel owl-carousel owl-theme" id="lightgallery">
                        <a href="img/comics/1.jpg" class="carousel__item">
                            <img data-src="img/comics/1.jpg" src="img/comics/1.jpg">
                        </a>
                        <a href="img/comics/2.jpg" class="carousel__item">
                            <img data-src="img/comics/2.jpg" src="img/comics/2.jpg">
                        </a>
                        <a href="img/comics/3.jpg" class="carousel__item">
                            <img data-src="img/comics/3.jpg" src="img/comics/3.jpg">
                        </a>
                        <a href="img/comics/4.jpg" class="carousel__item">
                            <img data-src="img/comics/4.jpg" src="img/comics/4.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="divider divider-item-1">
        <div class="divider__bgd"></div>
        <div class="divider__tile"></div>
    </section>
    <section class="trailer-page" id="video">
        <h3 class="page-title">Рекламний ролик</h3>
        <div class="container container_about-page">
            <div class="trailer-page__video">
                <iframe height="580px" width="1000px" src="https://www.youtube.com/embed/Xc9NB9V5pgA" frameborder="0"
                        allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <section class="divider divider-item-2">
        <div class="divider__bgd"></div>
        <div class="divider__tile"></div>
    </section>

    <section class="target-page">
        <h3 class="page-title">Кому буде цікавий комікс</h3>
        <div class="container container_about-page">
            <div class="target-page__item">
                <img src="img/children.png" class="target-page__icon">
                <p class="target-page__title">Діти</p>
                <p class="target-page__text">Інтуїтивно зрозумілі<br/> яскраві ілюстрації</p>
            </div>
            <div class="target-page__item">
                <img src="img/teens.png" class="target-page__icon">
                <p class="target-page__title">Тінейджери</p>
                <p class="target-page__text">Головні герої коміксу<br/> будуть близькими по духу</p>
            </div>
            <div class="target-page__item">
                <img src="img/adult.png" class="target-page__icon">
                <p class="target-page__title">Дорослі</p>
                <p class="target-page__text">Цікавий та захоплюючий сюжет</p>
            </div>
        </div>
    </section>

    <section class="buy-page">
        <div class="buy-page__bgd"></div>
        <img class="buy-page__ukrman" src="img/ukrman.png">
        <div class="container container_buy-page">
            <p class="buy-page__slogan">Героями не народжуються,<br> героями стають!</p>
            <div class="buy-page__container">
                <a class="buy-btn buy-btn_buy-page comics-animation">замовити комікс</a>
            </div>
        </div>
    </section>

    <section class="contacts-page" id="contacts">
        <div class="container container_contacts-page">
            <div class="contacts-page__item">
                <div class="contacts-page__icon">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="phone-block">
                    <a href="tel:+380953959000" class="telephone-2">(095) 395 90 00</a>
                </div>
            </div>
            <div class="contacts-page__item">
                <div class="contacts-page__icon">
                    <i class="fa fa-envelope"></i>
                </div>
                <a href="mailto:ukrmanpicture@gmail.com" class="mail">ukrmanpicture@gmail.com</a>
            </div>
            <div class="contacts-page__item">
                <div class="contacts-page__icon">
                    <i class="fa fa-home"></i>
                </div>
                <p class="address">м. Київ</p>
            </div>
        </div>

        <div class="social">
            <a class="social-icon" href="https://facebook.com/ukrman.ua/"><i class="fa fa-facebook-official"></i></a>
            <a class="social-icon" href="https://youtu.be/YRctYzPO6eM"><i class="fa  fa-youtube-play"></i></a>
            <a class="social-icon" href="https://www.instagram.com/_ukrman_"><i class="fa fa-instagram"></i></a>
        </div>

        <div class="contacts-page__support">
            <p>Запрошуємо до співпраці художників</p>
        </div>
    </section>
</div>

<section class="modal" id="modal">
    <div class="checkout__container">
        <a class="modal__close">×</a>
        <h2 class="modal__title">Форма замовлення</h2>
        <p class="modal__desc">Доставка Новою Поштою - 2, 3 робочих дні, самовивозом - в той же день.</p>
            <form class="modal__form">
                <div class="modal__row">
                    <div class="modal__block">
                        <h4 class="modal__block-name"> Ваші данні </h4>
                        <div class="rate__field">
                            <label for="name">
                                Ім'я
                                <span class="req">*</span>
                            </label>
                            <input
                                    v-bind:class="{'rate__input': true, 'name': true, 'error': !fields.firstName }"
                                    type="text"
                                    name="firstName"
                                    v-model="fields.firstName"
                                    @change="updateForm"
                                    @click="prepareForm"
                                    tabindex="1"
                                    placeholder="Укр"
                            >
                        </div>

                        <div class="rate__field">
                            <label for="name">
                                Прізвище
                                <span class="req">*</span>
                            </label>
                            <input
                                    type="text"
                                    tabindex="2"
                                    placeholder="Мен"
                                    v-bind:class="{'rate__input': true, 'name': true, 'error': !fields.lastName }"
                                    name="lastName"
                                    v-model="fields.lastName"
                                    @change="updateForm"
                                    @click="prepareForm"
                            >
                        </div>

                        <div class="rate__field">
                            <label for="phone">
                                Телефон
                                <span class="req">*</span>
                            </label>
                            <input
                                    tabindex="3"
                                    v-bind:class="{'rate__input': true, 'phone': true, 'error': !fields.phone }"
                                    type="tel"
                                    name="phone"
                                    v-model="fields.phone"
                                    @blur="updateForm"
                                    @focus="onPhoneFormClick"
                                    @click="onPhoneFormClick"
                                    @select="onPhoneFormClick"
                                    placeholder="+38 (0__) ___-__-__"
                            />
                        </div>

                        <div class="rate__field">
                            <label for="email">
                                E-mail адреса
                                <span class="req">*</span>
                            </label>
                            <input
                                    v-bind:class="{'rate__input': true, 'email': true, 'error': !fields.email }"
                                    type="email"
                                    name="email"
                                    v-model="fields.email"
                                    @change="updateForm"
                                    @click="prepareForm"
                                    tabindex="4"
                            />
                        </div>
                        <div class="rate__field rate__field_message">
                            <label for="message">
                                Побажання
                            </label>

                            <textarea
                                    class="message"
                                    placeholder="Побажання до замовлення"
                                    v-model="optional.comment"
                                    tabindex="5"
                            >
                            </textarea>
                        </div>

                    </div>
                    <div class="modal__block">
                        <h4 class="modal__block-name">Оплата та доставка</h4>

                        <div class="ch__input-container">
                            <p class="checkout__field-name">
                                Виберіть спосіб доставки
                            </p>

                            <select
                                    class="checkout__shipping checkout__select"
                                    v-model="optional.shippingType"
                                    tabindex="6"
                            >
                                <option value="delivery">Нова пошта</option>
                                <option value="pickup">Самовивіз</option>
                            </select>

                            <p v-cloak class="checkout__shipping-desc" v-if="optional.shippingType === 'delivery'">
                                Доставка по всій території України через Нову Пошту
                            </p>

                            <p v-cloak class="checkout__shipping-desc" v-if="optional.shippingType === 'pickup'">
                                Самовивіз від станції м. Контрактова Площа за попередньою домовленістю
                            </p>

                            <div class="ch__input-container"  v-if="optional.shippingType === 'delivery'">
                                <p class="checkout__field-name">
                                    Місто
                                </p>
                                <input
                                        v-bind:class="{'rate__input': true, 'error': !optional.shipping.address }"
                                        name="address"
                                        class="message"
                                        tabindex="6"
                                        v-model="optional.shipping.address"
                                        @click="prepareOptionalForm"
                                        @change="updateForm"
                                        tabindex="7"
                                />
                            </div>
                        </div>

                        <div class="checkout__field" v-if="optional.shippingType === 'delivery'">
                            <div class="ch__input-container">
                                <p class="checkout__field-name">Відділення Нової пошти</p>
                                <input
                                        v-bind:class="{'rate__input': true, 'ch__input': true, 'error': !optional.shipping.postOffice }"
                                        type="number"
                                        name="postOffice"
                                        v-model="optional.shipping.postOffice"
                                        @click="prepareOptionalForm"
                                        @change="updateForm"
                                        tabindex="8"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <a @click="confirmOrder()" class="modal__button">Відправити</a>
                <div class="status">
                    <div class="status__item status__item_first">
                        <p class="status__icon status__icon_active">1</p>
                        <p class="status__text ">Внесення данних про доставку</p>
                    </div>
                    <div class="status__item status__item_second">
                        <p class="status__icon ">2</p>
                        <p class="status__text">Оплата коміксу</p>
                    </div>
                    <div class="status__item status__item_third">
                        <p class="status__icon">3</p>
                        <p class="status__text">Отримання коміксу</p>
                    </div>
                </div>
            </form>
        </div>
</section>

<section class="modal__payment">
    <div class="modal__window">
        <div class="modal__content mc-inner">

            <div class="mc-inner__container">
                <img src="img/comics-first.jpg" class="main-page__book">
            </div>
            <div class="mc-inner__container main-page__container_text">
                <div class="main-page__inner">
                    <div class="action-now">
                        <p class="mc-inner__action-text">Форма доставки успішно заповнена. Оплатіть будь ласка ваше замовлення</p>
                    </div>

                    <div class="mc-inner__price">

                        <form method="POST" accept-charset="utf-8" action="https://www.liqpay.ua/api/3/checkout">
                            <input type="hidden" name="data" value="eyJ2ZXJzaW9uIjozLCJhY3Rpb24iOiJwYXkiLCJwdWJsaWNfa2V5IjoiaTM5MzI3ODk1MjkzIiwiYW1vdW50IjoiMTUwIiwiY3VycmVuY3kiOiJVQUgiLCJkZXNjcmlwdGlvbiI6ItCa0L7QvNGW0LrRgSDQo9Ca0KDQnNCV0J0uINCf0J7Qp9CQ0KLQntCaIiwidHlwZSI6ImJ1eSIsInNlcnZlcl91cmwiOiJodHRwczovL3Vrcm1hbi51YS9jb21pY3MvIiwicmVzdWx0X3VybCI6Imh0dHBzOi8vdWtybWFuLnVhL2NvbWljcy8iLCJsYW5ndWFnZSI6InJ1In0=" />
                            <input type="hidden" name="signature" value="mYu15+W6MgEGektN3Jxxw4HE/j8=" />
                            <button style="border: none !important; display:inline-block !important;text-align: center !important;padding: 7px 20px !important;
		color: #fff !important; font-size:16px !important; font-weight: 600 !important; font-family:OpenSans, sans-serif; cursor: pointer !important; border-radius: 2px !important;
		background: rgb(122,183,43) !important;"onmouseover="this.style.opacity='0.5';" onmouseout="this.style.opacity='1';">
                                <img src="https://static.liqpay.ua/buttons/logo-small.png" name="btn_text"
                                     style="margin-right: 7px !important; vertical-align: middle !important;"/>
                                <span style="vertical-align:middle; !important">Оплатити 150 UAH</span>
                            </button>
                        </form>



                    </div>

                    <ul>
                        <li class="mc-inner__help-item"><p class="mc-inner__help-text">При виникненні питань по оплаті,<br>телефонуйте, будь ласка, за номером:<br> <a href="tel:+380953959000">(095) 395-90-00</a></p></li><li class="mc-inner__help-item"><p class="mc-inner__help-text">Після успішної оплати ваше замовлення буде відправлене протягом 1-2 робочих днів</p></li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="status main-page__status">
            <div class="status__item status__item_first">
                <p class="status__icon">1</p>
                <p class="status__text">Внесення данних про доставку</p>
            </div>
            <div class="status__item status__item_second">
                <p class="status__icon status__icon_active">2</p>
                <p class="status__text">Оплата коміксу</p>
            </div>
            <div class="status__item status__item_third">
                <p class="status__icon">3</p>
                <p class="status__text">Отримання коміксу</p>
            </div>
        </div>
    </div>
</section>

<section class="thanks-modal">
    <div class="thanks-modal__wrapper">

    </div>
</section>

<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="node_modules/owl.carousel2.thumbs/dist/owl.carousel2.thumbs.min.js"></script>
<script src="node_modules/lightgallery/dist/js/lightgallery.min.js"></script>

<script src="script/utils.js"></script>
<script src="script/main.js"></script>

<!-- lightgallery plugins -->
<script src="node_modules/lg-thumbnail/dist/lg-thumbnail.min.js"></script>
<script src="node_modules/lg-fullscreen/dist/lg-fullscreen.min.js"></script>
<script src="node_modules/lg-zoom/dist/lg-zoom.min.js"></script>

<script src="script/deliveryForm.js"></script>

<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="script/utils.js"></script>
<script src="script/modalController.js"></script>
<script src="script/checkoutController.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114346656-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114346656-1');
</script>

</body>
</html>